@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700&display=swap');

body {
  background: radial-gradient(circle, rgb(19, 11, 1) 0%, rgb(3, 6, 19) 99%) !important;
  font-family: 'Montserrat', sans-serif!important;
}

.header-main {
  background-color: #000;
  box-shadow: 1px 20px 820px 100px rgb(42 34 8 / 60%);
}
@media (max-width: 425px) {
  .header-main {
    padding: 0 1rem;
    background-color: #000;
    box-shadow: 1px 20px 420px 100px rgb(42 34 8 / 60%);
  }
}

@media (max-width: 425px) {
  .brand-logo {
    display: flex;
    width: 180px;
  }
}

#nav-desk {
  display: block;
}
@media (max-width: 425px) {
  #nav-desk {
    display: none;
  }
}

#nav-mobi {
  display: none;
}
@media (max-width: 425px) {
  #nav-mobi {
    display: block;
  }
}

.nav {
  max-width: 1320px;
  padding: 1.2rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-betweens;
}
@media (max-width: 425px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}
.nav .nav-item a {
  color: #99999a;
  font-size: 1.12rem;
  font-weight: 400;
  transition: 150ms linear;
}
.nav .nav-item a:hover {
  color: #ffc736;
  transform: scale(1.05);
}
.nav i {
  color: #ffc736;
}
.nav i:hover {
  background-color: #ffc736;
  color: #000;
}
.nav ul .dropdown-item {
  color: #99999a;
}
.nav ul .dropdown-item:hover {
  color: #000;
  background-color: #ffc736;
}

.hidden-icon {
  display: none;
}
@media (max-width: 425px) {
  .hidden-icon {
    display: block;
    font-size: 40px;
  }
}

.slide-show-desk {
  margin-top: 5%;
  display: block;
}
@media (max-width: 425px) {
  .slide-show-desk {
    display: none;
  }
}

.main-content {
  padding-top: 80px;
}

.slide-show-mobi {
  display: none;
}
@media (max-width: 425px) {
  .slide-show-mobi {
    margin-top: 20%;
    display: block;
    margin-bottom: 15%;
  }
}

.title-section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #fff;
  position: relative;
  max-width: max-content;
}


.title-section::after {
  content: '';
  position: absolute;
  top: 65px;
  background: linear-gradient(140deg, rgb(255, 193, 7) 0%, rgb(174, 109, 11) 15%, rgb(55, 35, 5) 45%, rgb(78, 11, 11) 74%, rgb(3, 6, 19) 99%);
  height: 5px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  left: 0;
}


.slide-container {
  width: 100%;
  max-width: 1200px;
  background: none;
  padding: 30px 20px;
  margin: 0 auto 200px auto;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background: #fff;
    border-radius: 0 0 20px 20px;
    position: relative;
    bottom: 0;
}


@media (min-width: 425px) {
  .card-slide {
    padding: 0px 0px 10px 0px;
    border-radius: 20px;
    width: 280px !important;
  }
}

@media (max-width: 425px) {
  .card-slide {
    padding: 0px 0px 10px 0px;
    border-radius: 20px;
  }
  
}

.card-slide .card-body .info-purchase-price {
  font-size: 2.7rem;
  font-weight: 700;
  margin: 0 0 -25px 0;
  text-align: center;
}

.card-slide .card-body .card-title {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}
.card-slide img {
  border-radius: 10px 10px 0 0;
}

.card {
  border-radius: 20px !important;
  transform: scale(0.95);
  background: none!important;

}
.card button {
  background-color: #ffc736;
  color: #000;
  width: 100%;
  height: 60px;
  margin: 30px auto 0;
  transition: 150ms linear;
}
.card button:before {
  content: "BAIXAR ESTA AULA";
  font-size: 18px;
  font-weight: 600;
}
.card button:hover {
  background-color: #f8a916;
}

.hidden-button-banner {
  visibility: hidden;
}

.fa-chevron-circle-left:before, .fa-circle-chevron-left:before {
  font-size: 45px;
  color: hsl(43, 100%, 61%) !important;
  box-shadow: -120px 0 300px 80px #000;
  border-radius: 50%;
  transition: 150ms linear;
  font-weight: 900;
  margin: 0 0 0 50% !important;
}

.fa-chevron-circle-right:before, .fa-circle-chevron-right:before {
  font-size: 45px;
  color: #ffc736 !important;
  border-radius: 50%;
  transition: 150ms linear;
  font-weight: 900;
}

.swiper-button-next:hover .fa-circle-chevron-right::before {
  color: #ffffff !important;
  font-size: 60px;
  box-shadow: 120px 0 300px 80px #f5b30b;
}

.swiper-button-prev:hover .fa-circle-chevron-left::before {
  color: #ffffff !important;
  font-size: 60px;
  box-shadow: -120px 0 300px 80px #f5b30b;
}

@media (max-width: 425px) {
  .fa-chevron-circle-right:before, .fa-circle-chevron-right:before {
    box-shadow: none;
  }
  .fa-chevron-circle-left:before, .fa-circle-chevron-left:before {
    box-shadow: none;
  }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "next";
  visibility: hidden !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-prev:after {
  content: "prev";
  visibility: hidden !important;
}

.swiper {
  padding: 80px !important;

}
@media (max-width: 425px) {
  .slide-container {
    width: 100%;
    max-width: 1200px;
    background: none;
    padding: 30px 20px;
    margin: 0px auto 80px;
  } 
  .swiper {
    padding: 50px 0px !important;
  }
}

.swiper-pagination-bullet-active {
    opacity: 1!important;
    background: #ffc736!important;
}

footer {
  color: #ffc736;
  background-color: #000;
  padding: 50px;
  font-size: 12px;
}
footer div hr {
  margin-bottom: 80px !important;
}
@media (max-width: 425px) {
  footer {
    display: none!important;
  }
}

.social-info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .social-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .social-media {
    align-items: center;
    gap: 45px;
    flex-direction: row;
  }
}
footer .social-media {
  gap: 25px;
  justify-content: flex-end;
}
footer .social-media-item {
  transition: 300ms all;
}
footer nav a {
  transition: 300ms all;
}
footer nav a:hover {
  color: #99999a!important;
  transform: scale(1.05);
}
footer svg {
  transition: 300ms all;
}
footer svg:hover {
  color: #99999a;
  transform: scale(1.2);
}
footer .link-juridicos {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}
footer .link-juridicos .link-juridicos-content {
  margin: 0 auto;
}
footer .link-juridicos .link-juridicos-content ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

@media (max-width: 425px) {
footer .link-juridicos .link-juridicos-content ul {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    gap: 5px;
  }
}

.links-comuns {
  display: flex;
  gap: 50px;
}
@media (max-width: 425px) {
  .link-juridicos {
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .link-juridicos-content {
    margin: 0 auto;
    list-style: none;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
  .links-comuns {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 0 auto;
    gap: 20px;
  }
}

.bar-gradient-header {
  background: linear-gradient(140deg, rgb(255, 193, 7) 0%, rgb(174, 109, 11) 15%, rgb(55, 35, 5) 45%, rgb(78, 11, 11) 74%, rgb(3, 6, 19) 99%);
  display: flex;
  height: 4.5px;
  width: 100%;
}

.bar-gradient-footer {
  background: linear-gradient(-140deg, rgb(255, 193, 7) 0%, rgb(174, 109, 11) 15%, rgb(55, 35, 5) 45%, rgb(78, 11, 11) 74%, rgb(3, 6, 19) 99%);
  display: flex;
  height: 4.5px;
  width: 100%;
}

@media (max-width: 425px) {
  .footer-inner-collapse-mobile {
    display: flex;
    position: absolute;
  }
  .bar-gradient-footer {
    display: none;
  }
  .bar-gradient-negative-footer-mobile {
      background: linear-gradient(-140deg, rgb(255, 193, 7) 0%, rgb(174, 109, 11) 15%, rgb(55, 35, 5) 45%, rgb(78, 11, 11) 74%, rgb(3, 6, 19) 99%);
      display: flex;
      height: 2.5px;
      width: 100%;
  }
  .bar-gradient-positive-footer-mobile {
      background: linear-gradient(140deg, rgb(255, 193, 7) 0%, rgb(174, 109, 11) 15%, rgb(55, 35, 5) 45%, rgb(78, 11, 11) 74%, rgb(3, 6, 19) 99%);
      display: flex;
      height: 2.5px;
      width: 100%;
  }
}

.footer-collapse-mobile {
  display: none;

}

.footer-address {
  display: none;
}

@media (max-width: 425px) {
  .footer-collapse-mobile {
    display: flex;
    color: #fff;
    flex-direction: column;
  }
  .footer-address {
    font-size: 0.7rem!important;
    text-align: center;
    padding: 32px!important;
    margin: 0!important;
    display: flex;
  }

}

.btn--mobile{
  display: flex;
}

.btn-collapse-mobile {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  color: #f5b30b!important;
  margin: 0 auto;
  background-color: #0e0e0e;
  justify-content: center;
}



/* pagina Sobre - About  */
.main-content-about {
  margin: 200px 0 50px;
}

.about-container {
  display: block;
  margin: 75px auto 150px;
  max-width: 850px;
  color: #fff;
  line-height: 2rem;
}

.about-content {
  color: #fff;
  line-height: 2rem;
  text-align: justify;
}

.about-text {
 display: block;
}

