@use 'variables'
@use 'mixins'


footer
	@include mixins.footer-custom-lc

	div
		hr
			margin-bottom: 80px ! important

	.social-media
		gap: 25px
		justify-content: flex-end

	.social-media-item
		transition: 300ms all

	svg
		transition: 300ms all

		&:hover
			color: variables.$text-color-gray
			transform: scale(1.2)

	.link-juridicos
		display: flex
		align-items: center
		gap: 30px
		text-align: center

		.link-juridicos-content
			margin: 0 auto
			
			ul
				display: flex
				list-style: none
				flex-wrap: wrap
				justify-content: center
				gap: 100px

.bar-gradient-header
	background: linear-gradient(140deg, rgba(255,193,7,1) 0%, rgba(174,109,11,1) 15%, rgba(55,35,5,1) 45%, rgba(78,11,11,1) 74%, rgba(3,6,19,1) 99%)
	display: flex
	height: 4.5px
	width: 100%	

.bar-gradient-footer
	background: linear-gradient(-140deg, rgba(255,193,7,1) 0%, rgba(174,109,11,1) 15%, rgba(55,35,5,1) 45%, rgba(78,11,11,1) 74%, rgba(3,6,19,1) 99%)
	display: flex
	height: 4.5px
	width: 100%