@use 'variables'
@use 'mixins'

body
	background: variables.$background-dark-gradient
	font-family: "Nunito Sans",-apple-system,blinkmacsystemfont,"Segoe UI",helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important


.header-main
	background-color: variables.$black-color
	box-shadow: 0px 15px 20px 0px #ffc51852

	@include mixins.mobile    	
		padding: 0 1rem
		box-shadow: 0px 15px 20px 0px #ffc51852

.brand-logo
	@include mixins.mobile
		display: flex
		width: 180px

#nav-desk
	@include mixins.nav-block
	@include mixins.mobile
		@include mixins.nav-none

#nav-mobi
	@include mixins.nav-none
	@include mixins.mobile
		@include mixins.nav-block

.nav
	@include mixins.container
	display: flex
	justify-content: space-betweens

	@include mixins.mobile
		display: flex
		justify-content: flex-start
		flex-wrap: nowrap

	.nav-item
		a
			
			@include mixins.itens-navbar
		

	i
		color: variables.$secondary-color

		&:hover
			background-color: variables.$secondary-color
			color: variables.$black-color
		    

	ul

		.dropdown-item
			color: variables.$text-color-gray		

			&:hover
				color: variables.$black-color
				background-color: variables.$secondary-color


.hidden-icon
	display: none

	@include mixins.mobile
		display: block
		font-size: 40px
		
.slide-show-desk
	@include mixins.slide-show-desktop
	@include mixins.mobile
		display: none

.slide-show-mobi
	display: none	
	@include mixins.mobile
		@include mixins.slide-show-mobile

.slide-container
	@include mixins.slide-container-general


.card-slide

	@include mixins.card-slide-general
		
	.card-body

		.info-purchase-price
			
			font-size: 2.7rem
			font-weight: 700
			margin: 0 0 -25px 0
			text-align: center
		
		.card-title
			
			font-size: 1.2rem
			font-weight: 400	

	img
		border-radius: 10px 10px 0 0

.card

	border-radius: 20px!important
	
	button

		@include mixins.button-primary-lc

		&:before
			content: "BAIXAR ESTA AULA"
			font-size: 18px
			font-weight: 600
		
		&:hover
			background-color: #f8a916
			



.hidden-button-banner
	visibility: hidden

.fa-chevron-circle-left

	&:before

		.fa-circle-chevron-left
			&:before
				content: "\f137"
				font-size: 45px
				color: #ffc736 !important
				box-shadow: 0 0 100px 80px #000
				border-radius: 50%
				transition: 150ms linear
				font-weight: 900
				margin: 0 0 0 50% !important

.fa-chevron-circle-right

	&:before

		.fa-circle-chevron-left
			&:before
				content: "\f138"
				font-size: 45px
				color: #ffc736 !important
				box-shadow: 0 0 100px 80px #000
				border-radius: 50%
				transition: 150ms linear
				font-weight: 900

.swiper-button-next

	&:after

		.swiper-rtl

			.swiper-button-prev

				&:after
					content: 'next'
					visibility: hidden !important


.swiper-button-prev

	&:after

		.swiper-rtl

			.swiper-button-prev

				&:after

					content: 'prev'
					visibility: hidden !important

.swiper

	padding: 80px !important