@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

body::before {
    content: '';
    background-image: url(img/background-sistema-samia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}


.logo-style {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    padding: 50px 0 0;
}

.main-style {
    display: flex;
    margin: 5px auto;
    width: 100%;
    max-width: 1000px;
    gap: 5px;
}

.etapas-style {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 2px 17px 20px -10px #4119ff3d;
}

.form-group label {
    font-weight: 300;
}

@media (max-width: 992px) {
.main-style {
    display: flex;
    margin: 100px auto;
    width: 100%;
    max-width: 1000px;
    gap: 5px;
}
}

@media (max-width: 768px) {
.main-style {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    padding: 15px;
}
}

@media (max-width: 576px) {
.main-style {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    padding: 15px;
}

} 
